 @-webkit-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-moz-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}

body, html, .main-wrapper {
	width: 100%;
	height: 100%;
}

#main-wrapper {
	overflow: hidden;
}


.fade-in {
	opacity: 0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#view-resume {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 100;
	color: lightgray;
	text-align: center;
}

.hello {
	text-align: center;
}

.splash-page {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
}
#splash {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#km-logo {
	width: 120px;
}




.transition {
	-webkit-transition: top 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: top 1s ease-out;  /* Firefox 4-15 */
	-o-transition: top 1s ease-out;  /* Opera 10.50–12.00 */
	transition: top .5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.open {
	top: -100% !important;
}
.off-screen {
	top: -100% !important;
}

#accordion {
	padding-top: 50px;
}
.panel {
	border: solid 1px #DB4303;
}
.panel-heading {
	transition: 1s;
}
.panel-heading:hover {
	background: #F2F2F2;
	transition: 1s;
}
.panel-title {
	text-align: center;
	color: darkgray;
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: 100;
}
a:hover {
	text-decoration: none;
}


.header1, .header2, .header3 {
	color: #5b5b5b;
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: 100;
}

.header1 {
	font-weight:400;
	color: #DB4303;
}

.header2 {
	color: #DB4303;
}

p, li {
	color: #5b5b5b;
	font-family: "Helvetica";
	font-size: 14px;
	letter-spacing: .05em;
	font-weight: 100;
}

ul {
	padding-left: 15px;
}

li {
	margin-bottom: .5em;
}

#list-wrapper {
	margin: 0 auto;
}

.skills {
	column-count: 2;
	list-style-position: inside;
}


#accordion {
	position: relative;
	top: 100%;
}

@media (min-width: 767px) {
 
.panel-body {
	padding: 60px;
}


}


