 @-webkit-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-moz-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}

body, html, .main-wrapper {
	width: 100%;
	height: 100%;
}
h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 100;
	color: lightgray;
	text-align: center;
}
.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}
.menu-icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 18px 20px;
}
.splash-page {
	width: 100%;
	height: 100%;
	position: relative;
}
#splash {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#km-logo {
	width: 120px;
}
.col-centered {
	margin: 0 auto;
}
#work-page {
	width: 80%;
	background-color: blue;
}
.work {
	height: 150px;
	background-color: lightgray;
	border: 3px;
	border: solid;
	border-color: red;
}

.fade-in {
	opacity: 0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#accordion {
	padding-top: 50px;
}
.panel {
	border: solid 1px #DB4303;
}
.panel-heading {
	transition: 1s;
}
.panel-heading:hover {
	background: #F2F2F2;
	transition: 1s;
}
.panel-title {
	text-align: center;
	color: darkgray;
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: 100;
}
a:hover {
	text-decoration: none;
}
h2 {
	color: #ccc;
	font-family: "Helvetica";
	font-size: 25px;
	font-weight: 100;
	text-align: center;
}
.menu-item {
	color: #ccc;
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: 100;
	text-align: center;
}
.header1, .header2, .header3 {
	color: #darkgray;
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: 100;
}

.header1 {
	font-weight:400;
	color: #DB4303;
}
p {
	color: #darkgray;
	font-family: "Helvetica";
	font-size: 14px;
	letter-spacing: .05em;
}
.hello {
	text-align: center;
}
#main-wrapper {
	overflow: hidden;
}
#accordion {
	position: relative;
	top: 100%;
}
.display-on {
	position: relative !important;
	top: 100% !important;
	display: inherit !important;
}
.open {
	top: -100% !important;
}
.off-screen {
	top: -100% !important;
}
.transition {
	-webkit-transition: top 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: top 1s ease-out;  /* Firefox 4-15 */
	-o-transition: top 1s ease-out;  /* Opera 10.50–12.00 */
	transition: top .5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
#splash-page {
	position: relative;
	top: 0;
}
